.custom
{
    color: aqua;
}
.x
{
  font-size: 100px;
	font-weight: bold;
	color: rgb(196,0,0);
	font-family: all;
}
.y
{
  color:aqua /*rgb(0,185,185)*/;
  font-weight: bold;
  font-size: 50px;
}
h1
{
    position: absolute; top: 5px; right: 275px;
}
.btn
{
  color:  black;
  background-color: aqua;
  width: 200px;
  opacity: 0.6;
  position: absolute;top: 50px;right:65px;
}
.sessionUser
{
  color: red;
  position: absolute;top:0px;right:50px;
}
