body
{
background-color: rgba(240,255,255,0.5);*/
/*background-color: rgba(0,0,17,0.5);*/

}
.unbouton
{
  background-color:rgb(0,204,204) ;
  width: 150px;
  position: absolute;top: 45rem;
}
.sujet
{
  text-align: center;
  color:rgb(199,12,26);
  font-size: 20px;
}
.card-title
{
  color:rgb(199,12,26);
  font-size: 20px;
}
.card-text
{
  color: rgb(0,115,164);
}
.card-link
{
  color: aqua;
}
.poster
{
color:rgb(199,12,26);
font-size: 50px;
/*position: absolute;top: 350px;left: 50%;*/
  border: 40px solid white;
  border-width: medium;
  position: absolute; top: 410px;left: 285px;

}
