.liguey
{
		color: gold;
		font-weight: bold;
		font-size: 50px;
		position: absolute;top: 150px;left: 300px;
}

.titre
{
	color:aqua /*rgb(0,185,185)*/;
  font-weight: bold;
  font-size: 50px;
}
.pin
{
	font-size: 100px;
	font-weight: bold;
	color: rgb(196,0,0);
	font-family: all;
}
.h
{
    position: absolute; top: 5px; right: 275px;
}
.box
{
  border: 40px solid grey;
  border-width: medium;
  position: absolute; top: 200px;left: 100px;
	background-color: rgba(233, 233, 233, 0.5);
}
.button
{
  background-color: aqua;
  position: absolute;top: -20px;left: 500px;
  width: 50%;
}
.champ
{
  padding-left: 50px;
  margin-left: 400px;
}
.FOX
{
  margin-left:350px;
  margin-bottom: -30px;
}
h2
{
	color: aqua;
	font-size: 50px;
	position: absolute;right: 30%;
	font-weight: bold;
}
