.new1
{
  color:rgb(199,12,26);
  font-size: 50px;
  position: absolute; top: 30px;left:490px;
  font-weight: bold;
}
.label2
{
  color:rgb(199,12,26);
  font-size:2rem;
}
.champ2
{
  margin-left: 200px;
  margin-top: 1rem;

}

.box2
{
    border: 40px solid grey;
    border-width: thin;
    background-color:rgba(157,255,255, 0.5);
    position: absolute; top: 200px;left: 100px;
}
.btn2
{
width: 30%;
height: 3rem;
background-color:rgb(229,229,229),transparent;
color: rgb(215,0,0);
padding-left: 30px;
margin-left: 700px;
margin-top: 2.5rem;
font-size: 25px;
}
.start
{
  background-color: rgb(0,198,198);
  width: 5rem;
  border: solid black;
  color: black;
  font-size:20px;
  margin-right:200px;
  font-weight: bold;
}
.stop
{
  background-color: rgb(0,198,198);
  width: 5rem;
  border: solid black;
  color: black;
  font-size:20px;
  margin-right:300px;
  font-weight: bold;
}
