.btn1
{
width: 50%;
height: 5rem;
background-color:rgb(229,229,229);
color: rgb(0,206,206);
padding-left: 50px;
margin-left: 400px;
margin-top: 2.5rem;
font-size: 25px;
}
.position
{
position: absolute;top:300px;
}
