body
{
  background-color: rgba(215,215,215,0.5);
}
.ranking
{
color:rgb(199,12,26);
font-size: 50px;
/*position: absolute;top: 350px;left: 50%;*/
  border: 40px solid white;
  border-width: medium;
  position: absolute; top: 410px;left: 385px;
}
.size
{
width: 50%;
position: absolute;right: 105px;
}
.figure
{


}
.h4
{
  color:rgb(199,12,26);
}
.badge-warning
{
  background-color: white;
  border: solide black;
  border-color: gold;
  color: gold;
  text-align: center;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
}
.carre
{
padding-top: 10rem;
}
