.face
{
  height: 400px;
  background-image: url("bandeau.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
}
.btn-inscription
{
  background-color: aqua;
  position: absolute;top: 220px;right: 230px;
  width: 20%;
}
.btn-connexion
{
  background-color: aqua;
  position: absolute;right: 230px;
  width: 20%;
}
title
{
  color: aqua;
  font-size: 200px;
}
.titre1
{
	color:aqua /*rgb(0,185,185)*/;
  font-weight: bold;
  font-size: 50px;
}
.pin1
{
	font-size: 100px;
	font-weight: bold;
	color: rgb(196,0,0);
	font-family: all;
}
h1
{
    position: absolute; top: 5px; right: 275px;
}

.pin2
{
	font-size: 50px;
	font-weight: bold;
	color: rgba(196,0,0);
}
.titre2
{
	color: aqua;
}
h3
{
  color: aqua;

}
