.bug
{
  background-color: aqua;
  border-style: dashed;
  border: 20px dashed gold;
  position: absolute;top: 380px;left: 300px;
  height: 30rem;
}
.bloc
{
  position: absolute;top: 100px;left: 300px;

}
.vote
{
  position: absolute;top: 300px;left: 450px;
  width: 15rem;
  height: 5rem;
  background-color: gold;

}
.taff
{
  font-style: italic;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  font-weight: lighter;
  position: absolute;top: 90px;left: 100px;

}
